* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: white;
  height: 60px;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid #f6f6f6;
  position: sticky;
  padding-top: 10px;
  top: 0px;
}
.myntra_logo {
  height: 36px;
  width: 53px;
  margin-left: 50%;
  margin-top: 5%;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
  padding-top: 10px;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
}
.nav_bar a sup {
  color: rgb(242, 85, 111);
  font-size: 10px;
}
.nav_bar a:hover {
  border-bottom: 2.5px solid #f54e77;
}
a {
  text-decoration: none;
}
.search_bar {
  height: 40px;
  min-width: 400px;
  display: flex;
  align-items: center;
  width: 30%;
}
.search_icons {
  height: 20px;
  padding: 10px;
  box-sizing: content-box;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
.search_input {
  background-color: #f5f5f6;
  color: #696e79;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}
.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}
.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action_bar a {
  color: #282c3f;
}
.bag_item_count{
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    left: 13px;
    top: -44px;
    font-weight: 700;
    cursor: pointer;
}
/*Function*/
.items_container {
  width: 80%;
  margin: 40px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item_container {
  width: 250px;
  margin-bottom: 20px;
}
.item_image {
  width: 100%;
}
.rating {
  font-size: 12px;
  font-weight: 700;
  margin-left: 5px;
}
.company_name {
  margin-top: 15px;
  font-size: 16px;
  margin-left: 5px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipse;
  white-space: nowrap;
}

.item_name {
  color: #535766;
  font-size: 14px;
  margin-left: 5px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price {
  font-size: 14px;
  line-height: 15px;
  margin-left: 5px;
  color: #282c3f;
  white-space: nowrap;
  margin-top: 10px;
}
.current_price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original_price {
  text-decoration: line-through;
  columns: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;


}
.button_bag {
    margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #f54e77;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

.button_add {
    display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #f54e77;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  margin-right: 25px;
}
.bag_icon {
    margin-left: 10px;
}
.button_bag:hover {
    background-color: rgb(235, 75, 118);
}

.button_bag:hover .button_add{
    background-color: rgb(235, 75, 118);
}


/* Footer */
.footer_container {
  padding: 30px 0px 40px 0px;
  background: #fafbfc;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  text-align: end;
  padding: 15px;
}
